*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
   background-color: black;
    }


.banner{
    display:flex;
    background-image: url(banner.jpg);
    height: 500px;
    box-shadow : 5px 0px 100px 50px black inset ;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;

    

}
.logo{
    margin: 10px;
    width:70px;
    margin-left: 20px;
    border-radius: 100px;
}
.col{
    color: aliceblue;
    margin-left: 10px;
    position: relative;
    top: 100px;
    left:20px
    
}
.col img{
    width: 200px;
}
.col h3 {
    font-size: 50px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.col h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.button{
    height: 50px;
    width:140px;
   margin: 5px;
    background-color:black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(146, 137, 137, 0.295);
    transition: .5s;
}
.button:hover{
    background-color:white;
    color: black;

}
.right input{
    position: relative;
    top:100px;
    right:25px;
    height: 35px;
    width:200px;
    border-radius: 5px;
    opacity: .4;
    box-shadow: 0px 0px 10px 10px rgba(87, 79, 79, 0.651);
}

.right input:hover{
    box-shadow: 0px 0px 10px 10px rgba(87, 79, 79, 0.651) inset;
}


.right img{
    position: relative;
    width: 50px;
    background-color: white;
    opacity: .4;
    border-radius: 50%;
    padding: 5px;
    top: 120px;
    margin-right: 50px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 0px 10px 10px rgba(87, 79, 79, 0.651);


}
.right img:hover{
 transform: rotate(360deg);

}

.second{

    height: 400px;
    margin: 10px;
    padding: 10px;
    
  
}
.allmovies{
    overflow-x:scroll;
  
    
}
.allmovies::-webkit-scrollbar {
    display: none;
}
.second h1{
color: white;
font-family: arial;
margin: 10px;
text-shadow: 1px 1px 5px rgba(228, 212, 212, 0.959);
}
.allmovies{
display: flex;

}
.resize{
    margin: 10px;
    width:200px;
    border-radius: 10px;
     box-shadow: 0px 0px 10px 8px rgba(87, 79, 79, 0.651);
    margin-right: 20px;
    transition: .5s;
}
.resize:hover{
    transform:translateY(-10px);
    box-shadow: 0px 0px 10px 8px rgba(31, 29, 29, 0.651);

}
